body{
    background-color: #E4F9F5;
    text-align: center;
    
}
h1{
    /*margin-top: 100px;*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 75px;
    color: #11999E;
    line-height: 2px;

}
h2{
    color: #11999E;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    
}
h4{
    font-size: 35px;
    color: #11999E;
}
h5{
    font-weight: normal;
    color: black;
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    margin: 50px auto 0 auto;
}


.top-cloud{
    position: absolute;
    right: 150px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left: 150px;
    top: 150px;
}
.skill-row{
    margin: 70px auto 10px auto;
}
.education-row{
   
    text-align: center;

}
.pfimage{
height: 30%;
}
a{
color: #11999E;
font-family: "Montsarret",sans-serif;
}
a:hover{
    color: #eaf6f6;
}
.copyright {
    color: #ffffff;
    font-size: 0.75 rem;
    padding: 20px 0;
}
.bottom-container{
    line-height: 1.5;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #66BFBF;
    
}
.button{text-decoration:none; text-align:center; 
    padding:11px 32px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Georgia, "Times New Roman", Times, serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
     
     }
     .button:hover{
    padding:11px 32px; 
    border:solid 1px #004F72; 
    -webkit-border-radius:4px;
    -moz-border-radius:4px; 
    border-radius: 4px; 
    font:18px Georgia, "Times New Roman", Times, serif; 
    font-weight:bold; 
    color:#E5FFFF; 
    background-color:#3BA4C7; 
    background-image: -moz-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -webkit-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -o-linear-gradient(top, #3BA4C7 0%, #1982A5 100%); 
    background-image: -ms-linear-gradient(top, #3BA4C7 0% ,#1982A5 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1982A5', endColorstr='#1982A5',GradientType=0 ); 
    background-image: linear-gradient(top, #3BA4C7 0% ,#1982A5 100%);   
    -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
    -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
    box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
     
    }


/*body{
    background-color: #E4F9F5;

}
h1{
   margin-top: 0;
   margin-bottom: 0;

   position: relative;
   left: 460px;
}
p{
    margin-top: 0;
    margin-bottom: 0;
 
    position: relative;
    left: 490px;
}
.top-container{
    background-color:#E4F9F5 ;
}
.middle-container{
    background-color: red;
}
.bottom-container{
    background-color: yellow;
}
*/